body {
  font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
}
.loading .mu-dialog {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
}
.loading .mu-dialog-body {
  text-align: center;
}
#login {
  margin: 0 10px;
}
#login div.main {
  max-width: 500px;
  margin: 0 auto;
}
#login h2 {
  text-align: center;
}
#footer {
  text-align: center;
  width: 100%;
  margin-top: 100px;
}
#grade .grade-tabs {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
}
#grade .mu-tab-link-highlight {
  background: #03a9f4;
}
#grade .grade-tabs .mu-tab-link {
  color: rgba(0, 0, 0, 0.54);
}
#grade .grade-tabs .mu-tab-active {
  color: #03a9f4;
}
#grade .mu-card {
  margin-top: 10px;
  margin-bottom: 40px;
}
#grade .mu-card-title-container {
  text-align: center;
  background: #03a9f4;
}
#grade .mu-card-title-container * {
  color: #fff;
}
#grade .mu-card-text {
  padding: 0;
}
#grade .grade-head {
  color: #333;
  font-weight: bold;
  background: #03a9f4;
  color: #fff;
}
#grade .grade-head > div {
  height: 30px;
}
#grade .grade-head > div > div {
  width: 50%;
  text-align: center;
}
#grade .left {
  float: left;
}
#grade .right {
  float: right;
}
#grade h1 {
  text-align: center;
}
#grade .bottom {
  /* padding-left:256px;*/
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
#grade td,
#grade th {
  white-space: normal;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .mu-dialog-wrapper {
    width: 95% !important;
  }
}
#cal-result div {
  background: #03a9f4;
  padding: 15px;
  margin-top: 10px;
  color: #fff;
}
#cal-result p {
  margin: 5px 0;
}
#cal-result div.attention {
  background: #eee;
  color: #333;
}
